@borderColor : #e9e9e9;
@backgroundColor: #fafafa;
@higlightColor: #f25a33;
@fontColor: #828282;
.bodyInit(@size, @color) {
    body {
        font-size: @size;
        * {
            color: @color  !important;
        }
    }
}

@media (min-width: 1281px) { //Desktops
    .bodyInit(20, Red);
}

@media (min-width: 1025px) and (max-width: 1280px) { // Laptops, Desktops
    .bodyInit(25, Orange);
}

@media (min-width: 768px) and (max-width: 1024px) { ///Tablets
    .bodyInit(35, rgb(21, 255, 0));
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { //Tablets, Ipads (landscape)
    .bodyInit(30, Yellow);
}

@media (min-width: 481px) and (max-width: 767px) { // Low Resolution Tablets, Mobiles (Landscape)
    .bodyInit(40, Pink);
}

@media (min-width: 320px) and (max-width: 480px) { // Most of the Smartphones Mobiles (Portrait)
    .bodyInit(40, Pink);
}

.donate {
    color: @fontColor;
    font-size: 0.25;
    font-family: 'Montserrat', sans-serif;
    &__container {
        text-align: center;
        margin: 0 auto;
        max-width: 25em;
        width: 90%;
        border: 1px solid @borderColor;
        font-family: 'Montserrat', sans-serif;
        &--text {
            padding: 10px 20px;
            text-align: left;
            &--highlighted {
                color: @higlightColor;
            }
            &--bold {
                font-weight: bold;
            }
        }
    }
    &__progress {
        @barHeight: 20px;
        border-bottom: 1px solid @borderColor;
        min-height: @barHeight;
        @background-color: @backgroundColor;
        &__bar {
            background-color: @higlightColor;
            min-height: @barHeight;
        }
    }
}